:root {
  --main-theme-color: #0f4f4f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.p-f {
  position: fixed;
}

.banner {
  max-width: 100%;
  background-color: black;
  height: 25px;
  text-align: center;
}

.nav-bar {
  max-width: 100%;
  background-color: var(--main-theme-color);
  height: 50px;
  position: relative;
}

.overlay-hero-text {
  position: absolute;
}

.hero-text-wrapper {
  height: 100%;
  position: absolute;
  width: 60%;
}

.hero-wrapper {
  position: relative;
}

.vertical-text-center {
  display: flex;
  justify-content: left;
  align-items: center;
}

.banner {
  color: white;
}

.hero-wrapper {
  min-height: 60vh;
  max-width: 100%;
}

.hero {
  height: 100%;
  width: 100%;
}

.overlay-hero {
  color: white;
}

.overlay-hero-text h2 {
  color: white;
}

.overlay-hero-text h3 {
  color: white;
}

.shop-now-button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.product-category {
  min-width: 50%;
  height: auto;
  min-height: 30vh;
}

.product-category-container {
  height: auto;
  display: flex;
}

.newArrivals {
  max-width: 100%;
  min-height: 100vh;
}

.Subhero {
  height: 60vh;
  max-width: 100%;
}

.signup {
  background-color: var(--main-theme-color);
  padding-top: 10px;
}

.has-flex {
  display: flex;
}

.social {
  max-width: 100%;
  height: 40vh;
}

.footer {
  background-color: black;
  color: white;
}

.footer-customer-service-heading {
  display: flex;
}

.signup_heading {
  text-align: center;
}

.nav-col {
  display: contents;
}

.line {
  width: 30px;
  height: 5px;
  background: white;
  margin: 5px;
}

.nav-links {
  display: none;
}

.nav-bar-row {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.col {
}

.hamburger-text-wrapper {
}

#contact_form {
  max-width: 100%;
}

#contact_form input {
  width: 50%;
}

#contact_form button {
  width: 15%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
