:root {
  --main-theme-color: #0f4f4f;
  --main-text-color: white;
  --font-accent: "Pacifico", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", cursive;
  font-weight: 300 !important;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.rectangle {
  height: 41.7px;
  width: 100%;
  background-color: #10504f;
  position: absolute;
  bottom: 0;
}

.rectangle-large {
  height: 41.7px;
  width: 164.92px;
  background-color: #10504f;
  position: absolute;
  bottom: 0;
}

.p-t-1 {
  padding-top: 4%;
}

.p-b-1 {
  padding-bottom: 2%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.p-f {
  position: fixed;
}

.banner {
  max-width: 100%;
  background-color: black;
  height: 21px;
  max-height: 59px;
  text-align: center;
}

.bg-main-theme {
  background-color: var(--main-theme-color) !important;
}

.social-header {
  font-size: 20px;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 1%;
}

.nav-bar {
  max-width: 100%;
  background-color: var(--main-theme-color);
  height: 53px;
  position: relative;
}

.overlay-hero-text {
  position: absolute;
  font-size: 3vw;
  text-align: left;
}

.m-l-50 {
  margin-left: 50%;
}

.hero-text-wrapper {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 10%;
}

.vertical-text-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.vertical-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-images-container {
  display: flex;
  padding: 4%;
}


.social-images-wrapper img {
  height: 100%;
  width: 100%;
}

.banner {
  font-size: 12px;
  color: var(--main-text-color);
}

.hero-wrapper {
  height: auto;
  max-width: 100vw;
  overflow: hidden;
  position: relative;
}

.hero {
  overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.hero img {
  width: 100%;
}


.overlay-hero {
  color: white;
}

.overlay-hero-text h2 {
  color: white;
}

.overlay-hero-text span {
  display: block;
  color: white;
  margin-bottom: 2%;
}

.shop-now-button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 4px 2px;
  cursor: pointer;
  max-width: 77px;
  min-width: 77px;
  width: auto;
  height: 23px;
}

.b-w-1 {
  border: 1px solid white;
}

.bg-red {
  background-color: red;
}

.hero-2-image-d{
  display: none;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.rectangle h1 {
  margin: 0;
  color: var(--main-text-color);
  font-size: 19px;
}

.p-c-1 {
  width: 48%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 4%;
}

.p-c-1 img {
  width: 100%;
  height: auto;
}

#p-c-3-d {
  display: none;
}

.p-c-3 {
  position: relative;
}


.company-links {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  display: none;
}

.p-c-3 img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.newArrivals {
  max-width: 100%;
  min-height: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newArrivals_header h3 {
  margin-bottom: 0px;
  padding-top: 3%;
}

.ImageCardContainer span {
  font-family: var(--font-accent);
  color:#10504F;
}

.newArrivals_image {
  width: 100%;
  height: auto;
}

.ImageCardContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.ImageCardContainer img {
  width: 100%;
}

.Subhero {
  height: 60vh;
  max-width: 100%;
}

.signup {
  background-color: var(--main-theme-color);
  padding: 10px;
  color: var(--main-text-color);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.signup h2 {
  font-size: 20px;
}

.has-flex {
  display: flex;
}

.social {
  max-width: 100%;
  min-height: 108px;
}

.footer {
  background-color: black;
  color: var(--main-text-color);
}

.d-n {
  display: none;
}

.customer-service-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.follow-us {
  font-size: 20px;
}

.social-images-wrapper {
  padding: 1%;
}

.footer_cust-service {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.padding-right {
  padding-right: 25px;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}

.footer-customer-service-heading {
  display: flex;
}

.signup_heading {
  text-align: center;
}

.nav-col {
  display: contents;
}

.line {
  width: 30px;
  height: 4px;
  background: white;
  margin: 3px;
}

.nav-links {
  display: none;
}

.nav-bar-row {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nai-dn {
  display: none;
}

#contact-form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

#contact-form input {
  width: 225px;
  height: 27px;
  margin: 0px;
}

#contact-form button {
  font-size: 10px;
  margin: 0px 0px 0px 1%;
  width: 73px;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}

.signup-heading h2 {
  font-size: 20px;
}

.signup-heading {
  margin-left: 5%;
  margin-right: 5%;
}

.p-c-2 {
  margin-left: 2%;
}

.signup-heading p {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.subscriber-button {
  font-family: var(--font-accent);
  color: white;
}

.hamburger-text-wrapper {
  position: absolute;
  top: 25%;
}

.m-l-auto {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.social-media-icons {
  display: flex;
  height: 36px;
  width: 118px;
  margin-left: -6px;
}

.social-media-icons img {
  height: 100%;
  width: auto;
}

.f-s-12 {
  font-size: 12px;
}

.inline-lists-wrapper {
  display: none;
}

.inline-lists li a {
  color: white;
  text-decoration: none;
  font-size: 28px;
}

h2 {
  margin: 0;
  margin-bottom: 0.4em;
}

h3 {
  margin: 0;
  margin-bottom: 0.4em;
}

.hero-desktop{
  display: none;
}

ul {
  padding: 0;
}

.social-media-icons-container {
  text-align: left;
}

.footer_wrapper {
  padding: 4%;

}

.customer-service-container span {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.company-links span {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.logo-container{
}

.cart-container{
}

.nav-container{
  height: 100%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (min-width: 768px) {

  .signup h2{
    font-size: 35px;
  }

  .hero-2-image-d{
    display: block;
  }

  .hero-2-image-m{
    display: none;
  }

  .p-b-1 {
    display: flex;
    justify-content: center;
  }

  .follow-us {
    margin-left: auto;
    width: 100px;
    margin-bottom: 2% !important;
  }

  .plus {
    display: none;
  }

  .minus {
    display: none;
  }

  .customer-service-container span {
    font-size: 16px;
    line-height: 30px;
  }

  .company-links span {
    font-size: 16px;
    line-height: 30px;
  }

  .b-w-1 {
    border: 3px solid white;
  }

  .company-links {
    display: flex;
  }

  .cart-container span {
    display: none;
  }

  .nai-dn {
    display: inline-block;
  }

  .nav-links li {
    display: inline;
  }

  .inline-lists li a {
    margin-left: 4%;
  }

  .inline-lists-wrapper {
    display: inline-block;
  }

  .cart-1 {
    display: none;
  }
  .banner {
    font-size: 26px;
    height: 59px;
  }

  .footer_wrapper {
    display: flex;
    text-align: left;
  }

  .social-media-icons-container {
    flex-flow: row;
    width: 100%;
  }

  .social-media-icons {
    margin-left: auto;
  }

  .footer_cust-service {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .footer_cust-service h1 {
    margin: 0px;
  }

  .nav-bar {
    height: 94px;
  }

  .hamburger {
    display: none;
  }

  .inline-lists li {
    display: inline;
    margin-left: 2%;
  }

  .shop-now-button {
    min-width: 169px;
    max-width: 169px;
    min-height: 49px;
    max-height: 49px;
    font-size: 20px;
  }

  .subscriber-button {
    color: white;
    font-size: 20px;
    width: 169px;
    height: 48px;
  }

  .inline-lists li {
    float: left;
  }

  .signup-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    justify-content: center;
  }

  .social-images-wrapper {
    display: inline-block !important;
    padding: 1%;
    width: 20%;
  }

  #contact-form input {
    width: 340px;
    height: 44px;
    margin: 0px;
  }

  .signup-heading {
    width: 589px;
  }

  .signup-heading p {
    font-size: 20px;
    text-align: left;
  }

  .p-c-1 {
    width: 33%;
    height: 100%;
  }

  .p-c-3 {
    display: inline-block;
    width: 33%;
    margin-left: 2%;
    height: 100%;
    position: relative;
    min-height: 209px;
  }

  .p-c-3 img {
    min-height: 215px;
  }

  .inline-lists {
    display: inline-block;
    width: 420px;
  }

  #p-c-3-m {
    display: none;
  }

  #p-c-3-d {
    display: block;
  }

  .customer-service-container{
    width: 20%;
  }

  .newArrivals {
    padding-bottom: 2%;
  }

  .follow-us {
    margin-left: 12%;
    font-size: 18px;
  }

  .social-media{
    margin-left: auto;
    width: 100px;
  }

  .hero-desktop{
    display: block;
  }

  .hero-mobile{
    display: none;
  }

  .company-container{
    margin-left: 1%;
  }

}

  @media screen and (min-width: 980px){
     .footer_wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
  }
}

  @media screen and (min-width: 1024){
    .rectangle {
      height: 110px;
  }
}

